<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'EZD6.Name'}}" />
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
            </div>
        </div>  
    </header>

    <section class="sheet-body">
        {{#if isEquipment}}
            <div class="equipment">
                <div>
                    {{localize 'EZD6.Type'}}: 

                    <select name="system.equipmenttype">
                        {{#select system.equipmenttype}}
                        {{#each ezd6.EquipmentTypes as |name type|}}
                        <option value="{{name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div>
                    {{localize 'EZD6.Quantity'}}:
                    <input name="system.quantity" type="number" value="{{system.quantity}}" title="{{localize 'EZD6.Quantity'}}"/>
                </div>
            </div>
            <div>&nbsp;</div>
        {{/if}}

        {{#if isBoon}}
            <div class="equipment">
                <div>
                    {{localize 'EZD6.Type'}}: 

                    <select name="system.boontype">
                        {{#select system.boontype}}
                        {{#each ezd6.BoonTypes as |name type|}}
                        <option value="{{name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div></div>
            </div>
            <div>&nbsp;</div>
        {{/if}}

                    <div class="item-list">
                        <!-- Description -->
                            <div class="header-text spacer">{{localize 'EZD6.Description'}}</div>

                            <div class="desc">
                                {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
                            </div>
                    
                    </div> 
    </section>
</form>
