<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" class="charimage" />


        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'EZD6.HeroName'}}" />
            </h1>


            <div class="header-stats">
                <div>
                    {{localize 'EZD6.HeroPath'}}:
                    <span class="important-stat">{{data.hero-path-name}}</span>
                    &nbsp;
                    <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="heropath"><i class="fas fa-plus"></i></a>
                    <a class="item-control item-info" title="{{localize 'EZD6.ShowDesc'}}"
                                    data-type="heropath"><i class="fas fa-info-circle"></i></a>

                </div>

                <div>
                    {{localize 'EZD6.Species'}}:
                    <span class="important-stat">{{data.species-name}}</span>
                    &nbsp;
                    <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="species"><i class="fas fa-plus"></i></a>
                    <a class="item-control item-info" title="{{localize 'EZD6.ShowDesc'}}"
                                    data-type="species"><i class="fas fa-info-circle"></i></a>
                </div>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="body-outer-grid">
            <div>  x </div>
            <div>
                <div>
                    {{localize 'EZD6.Strikes'}}:
                    <input name="data.strikes.value" type="number" value="{{data.strikes.value}}" />/
                    <input name="data.strikes.value" type="number" value="{{data.strikes.max}}" />
                </div>

                <div>
                    {{localize 'EZD6.Armor'}}:
                    <input name="data.armor-type" type="text" value="{{data.armor-type}}" />
                    ({{localize 'EZD6.Save'}} 
                    <input name="data.armor-save" type="number" value="{{data.strikes.save}}" />
                    )
                </div>

                <div>
                    {{localize 'EZD6.ToHit'}}:
                    <span>{{data.to-hit}}</span>
                </div>
            </div>
        </div>

    </section>
</form>