<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'EZD6.Name'}}"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>  
    </header>
    <section class="sheet-body">
        {{#if isEquipment}}
            <div class="equipment">
                <div>
                    {{localize 'EZD6.Type'}}: 

                    <select name="data.equipmenttype">
                        {{#select data.equipmenttype}}
                        {{#each ezd6.EquipmentTypes as |name type|}}
                        <option value="{{name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div>
                    {{localize 'EZD6.Quantity'}}:
                    <input name="data.quantity" type="number" value="{{data.quantity}}" title="{{localize 'EZD6.Quantity'}}"/>
                </div>
            </div>
        {{/if}}
            
        <div class="desccolumn">
            {{localize 'EZD6.Description'}}
            <textarea class="desctext" name="data.description">{{data.description}}</textarea>
        </div> 
    </section>
</form>
