<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" class="charimage" />


        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'EZD6.HeroName'}}" />
            </h1>


            <div class="header-stats">
                <div>
                    {{localize 'EZD6.HeroPath'}}:
                    <span class="important-stat">{{data.hero-path-name}}</span>
                    &nbsp;
                    {{#if data.hasPath}}
                        <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>                                    
                        <a class="item-control item-info" title="{{localize 'EZD6.ShowDesc'}}"
                                        data-type="heropath"><i class="fas fa-info-circle"></i></a>
                    {{else}}
                        <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="heropath"><i class="fas fa-plus"></i></a>
                    {{/if}}  
                </div>

                <div>
                    {{localize 'EZD6.Species'}}:
                    <span class="important-stat">{{data.species-name}}</span>
                    &nbsp;
                    {{#if data.hasSpecies}}
                        <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>     
                        <a class="item-control item-info" title="{{localize 'EZD6.ShowDesc'}}"
                                        data-type="species"><i class="fas fa-info-circle"></i></a>
                    {{else}}
                        <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                        data-type="species"><i class="fas fa-plus"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="body-outer-grid">
            <div>
                <!-- hero path boons -->
                <ol class="item-list">
                    <li class="item flexrow item-header">
                            <div class="item-points header-text">{{localize 'EZD6.Boons'}}</div>
                            <div class="item-controls action-col">
                                <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="boon"><i class="fas fa-plus"></i> {{localize 'EZD6.AddButton'}}</a>
                            </div>
                    </li>
                    {{#each boon as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                <a class="item-control item-chat" data-type="boon"
                                    title="{{localize 'EZD6.ShowDesc'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-controls action-col">
                                <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'EZD6.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                <!-- hero path features -->
                <ol class="item-list">
                    <li class="item flexrow item-header">
                            <div class="item-points header-text">{{localize 'EZD6.HeroFeatures'}}</div>
                            <div class="item-controls action-col">
                                <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="feature"><i class="fas fa-plus"></i> {{localize 'EZD6.AddButton'}}</a>
                            </div>
                    </li>
                    {{#each feature as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                <a class="item-control item-chat" data-type="feature"
                                    title="{{localize 'EZD6.ShowDesc'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-controls action-col">
                                <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'EZD6.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                <!-- inclinations -->
                <ol class="item-list">
                    <li class="item flexrow item-header">
                            <div class="item-points header-text">{{localize 'EZD6.Inclinations'}}</div>
                            <div class="item-controls action-col">
                                <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="inclination"><i class="fas fa-plus"></i> {{localize 'EZD6.AddButton'}}</a>
                            </div>
                    </li>
                    {{#each inclination as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                <a class="item-control item-chat" data-type="inclination"
                                    title="{{localize 'EZD6.ShowDesc'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-controls action-col">
                                <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'EZD6.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                <!-- aspects -->
                <ol class="item-list">
                    <li class="item flexrow item-header">
                            <div class="item-points header-text">{{localize 'EZD6.Aspects'}}</div>
                            <div class="item-controls action-col">
                                <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="aspect"><i class="fas fa-plus"></i> {{localize 'EZD6.AddButton'}}</a>
                            </div>
                    </li>
                    {{#each aspect as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                <a class="item-control item-chat" data-type="aspect"
                                    title="{{localize 'EZD6.ShowDesc'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-controls action-col">
                                <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'EZD6.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                <!-- Circle -->
                <ol class="item-list">
                    <li class="item flexrow item-header">
                            <div class="item-points header-text">{{localize 'ITEM.TypeCircle'}}</div>
                            <div class="item-controls action-col">
                                <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="circle"><i class="fas fa-plus"></i> {{localize 'EZD6.AddButton'}}</a>
                            </div>
                    </li>
                    {{#each inclination as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                <a class="item-control item-chat" data-type="circle"
                                    title="{{localize 'EZD6.ShowDesc'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-controls action-col">
                                <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'EZD6.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>


                <!-- equipment -->
                <ol class="item-list">
                    <li class="item flexrow item-header">
                            <div class="item-points header-text">{{localize 'ITEM.TypeEquipment'}}</div>
                            <div class="item-controls action-col">
                                <a class="item-control item-create" title="{{localize 'EZD6.CreateItem'}}"
                                    data-type="equipment"><i class="fas fa-plus"></i> {{localize 'EZD6.AddButton'}}</a>
                            </div>
                    </li>
                    {{#each equipment as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                <a class="item-control item-chat" data-type="equipment"
                                    title="{{localize 'EZD6.ShowDesc'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-controls action-col">
                                <a class="item-control item-edit" title="{{localize 'EZD6.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'EZD6.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

            </div>
            <div>
                <div class="right-col">
                    <div>
                    <span class="headertext">{{localize 'EZD6.Health'}}</span>
                    </div>
                    <div>
                    <input name="data.strikes.value" type="number" value="{{data.strikes.value}}" />/
                    <input name="data.strikes.max" type="number" value="{{data.strikes.max}}" />
                    </div>
                    <div>
                    <span class="subtext">{{localize 'EZD6.StrikesUntilDead'}}</span>
                    </div>
                </div>

                <div class="right-col">
                    <div>
                        <span class="headertext">{{localize 'EZD6.Armor'}}</span>
                    </div>
                    <div>
                        <input name="data.armor-type" type="text" value="{{data.armor-type}}" />
                    </div>
                    <div>
                        {{localize 'EZD6.WoundSave'}} 
                        <input name="data.armor-save" type="number" value="{{data.armor-save}}" />
                        <a class="item-control rollsave" data-rolltype="armor" title="{{localize 'EZD6.RollSave'}}"><i class="fas fa-dice-six"></i></a>                 
                    </div>
                    <div><span class="subtext">{{localize 'EZD6.RollToIgnore'}}</span></div>
                    <div>
                        {{localize 'EZD6.MirSave'}} 
                        <input name="data.miraculous-save" type="number" value="{{data.miraculous-save}}" />
                        <a class="item-control rollsave" data-rolltype="miraculous" title="{{localize 'EZD6.RollSave'}}"><i class="fas fa-dice-six"></i></a> 
                    </div> 
                </div>

                <div class="right-col">
                    <div>
                        <span class="headertext">{{localize 'EZD6.ToHit'}}</span>
                        <input name="data.to-hit" type="number" value="{{data.to-hit}}" />
                        <a class="item-control rollattack" title="{{localize 'EZD6.RollAttack'}}"><i class="fas fa-dice-six"></i></a> 
                    </div>
                </div>

                <div class="right-col">
                    <div>
                        <span class="headertext">{{localize 'EZD6.Karma'}}:</span>&nbsp;
                        <a class="item-control minus" data-field="karma"><i class="fas fa-minus"></i></a>
                        <input name="data.karma" type="number" value="{{data.karma}}" />
                        <a class="item-control plus" data-field="karma"><i class="fas fa-plus"></i></a>
                    </div>
                </div>

                <div class="right-col">
                    <div>
                        <span class="headertext">{{localize 'EZD6.HeroDice'}}:</span>&nbsp;
                        <a class="item-control minus" data-field="herodice"><i class="fas fa-minus"></i></a>
                        <input name="data.hero-dice" type="number" value="{{data.hero-dice}}" />
                        <a class="item-control plus" data-field="herodice"><i class="fas fa-plus"></i></a>
                    </div>
                </div>

                <div class="right-col">
                    <div><span class="headertext">{{localize 'EZD6.Wealth'}}:</span></div>
                    <div>
                        <select name="data.wealth">
                            {{#select data.wealth}}
                            {{#each config.WealthLevels as |name|}}
                            <option value="{{name}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}                       
                        </select>               
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>
